<!DOCTYPE html>
<html lang="de">

    <head>
        <title>Socia</title>
        <link rel="stylesheet" href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")'>
        <link rel="stylesheet" media="all" href='@routes.Assets.at("stylesheets/socia.css")'>
        <link rel="stylesheet" media="all" href='@routes.Assets.at("stylesheets/bootstrap-prettyfile.css")'>
        <link id="dynamic-favicon" rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron" id="socia-login">
                        <h1>Willkommen!</h1>
                        @if(flash.containsKey("success")) {
                            <div class="alert alert-success fade in">
                                <button type="button" class="close fade out" data-dismiss="alert">&times;</button>
                                @flash.get("success")
                            </div>
                        }
                        @if(flash.containsKey("info")) {
                            <div class="alert alert-info fade in">
                                <button type="button" class="close fade out" data-dismiss="alert">&times;</button>
                                @flash.get("info")
                            </div>
                        }
                        @if(flash.containsKey("error")) {
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close fade out" data-dismiss="alert">&times;</button>
                                @flash.get("error")
                            </div>
                        }
                        @controllers.Component.loginForm()
                    </div>
                </div>
            </div>

            <div class="row" id="socia-landing-footer">
                <div class="col-md-12" id="socia-landing-footer">
                    <a href="@routes.Application.index()" data-toggle="modal">Home</a> |
                    <a href="@routes.Application.imprint()">Impressum</a> |
                    <a href="@routes.Application.privacy()">Datenschutz</a> |
                    <a href="@routes.Application.feedback()">Feedback</a> |
                    <a href="@routes.Application.feedback()">Kontakt</a> |
                    <a href="@routes.Application.help()">Hilfe</a>
                </div>
            </div>

        </div>

        <script type="text/javascript" src='@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")'></script>


    </body>

</html>
